services:
  - type: web
    name: n8n
    env: docker
    dockerCommand: docker.n8n.io/n8nio/n8n:1.65.0
    envVars:
      - key: N8N_ENCRYPTION_KEY
        generateValue: true
      - key: DB_TYPE
        value: postgresdb
      - key: DB_POSTGRESDB_DATABASE
        fromDatabase:
          name: n8n-db
          property: database
      - key: DB_POSTGRESDB_HOST
        fromDatabase:
          name: n8n-db
          property: host
      - key: DB_POSTGRESDB_PORT
        value: "5432"
      - key: DB_POSTGRESDB_USER
        fromDatabase:
          name: n8n-db
          property: user
      - key: DB_POSTGRESDB_PASSWORD
        fromDatabase:
          name: n8n-db
          property: password
      - key: N8N_BASIC_AUTH_ACTIVE
        value: "true"
      - key: N8N_BASIC_AUTH_USER
        value: "admin"
      - key: N8N_BASIC_AUTH_PASSWORD
        generateValue: true
      - key: PORT
        value: "5678"
      - key: N8N_DIAGNOSTICS_ENABLED
        value: "false"
      - key: WEBHOOK_URL
        value: "https://n8n.onrender.com/"

databases:
  - name: n8n-db
    databaseName: n8n
    user: n8n-user
    plan: starter
